body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #181818; 
  position: absolute;
  scrollbar-width: none;
  /* Per Firefox */
  -ms-overflow-style: none;
  /* Per Internet Explorer/Edge */
 }
 
 body::-webkit-scrollbar {
    display: none;
    /* Nasconde la barra di scorrimento per Chrome e Safari */
}

 /* Style the header */
 
.header {
  background-color: #212121;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0, .1);
  position: fixed;
  width: 100%;
  z-index: 1;
  margin-top: -13px;
  margin-left: -8px;
}

.header ul{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #212121;
}

.header ul a {
  display: block;
  padding: 20px;
  text-decoration: none;
}

.header ul a:hover{
  background-color: #181818;
}

.header .logo{
  float: left;
  font-size: 25px;
  padding: 10px 20px;
}

.header .menu{
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.header .menu-icon{
  padding: 28px 20px;
  position: relative;
  float: right;
  cursor: pointer;
}

.header .menu-icon .nav-icon{
  background-color: gray;
  display: block;
  width: 18px;
  height: 2px;
  position: relative;
  transition: background-color .2s ease-out;
}

.header .menu-icon .nav-icon::before,
.header .menu-icon .nav-icon::after{
  background-color: gray;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transition: all .2s ease-out;
  position: absolute;
}

.header .menu-icon .nav-icon::before{
  top: 5px;
}
.header .menu-icon .nav-icon::after{
  top: -5px;
}

.header .menu-btn{
  display: none; 
}

.header .menu-btn:checked ~ .menu{
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon{
  background-color: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::before{
  transform: rotate(-45deg);
  top: 0;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon::after{
  transform: rotate(45deg);
  top: 0;
}

@media (min-width: 48em) {
  .header li{
      float: left;
  }

  .header li a{
      padding: 20px 30px;
  }

  .header .menu{
      clear: none;
      float: right;
      max-height: 240px;
  }

  .header .menu-icon{
      display: none;
  }

}
  
 /* Stile del contenitore principale */
 #cv{
  margin-top: 5%;
  margin-left: 40%;
  margin-right: 30%;
 }
 /* Stile dell'intestazione (Nome) */
 #cv h1 {
  font-size: 24px;
  margin: 0;
  color: #fff;
 }

 /* Stile per il titolo delle sezioni (Esperienza Lavorativa, Formazione, Competenze Digitali) */
 #cv h2 {
  font-size: 20px;
  margin: 20px 0 10px;
  color: #fff;
 }
 #cv p {
  color: #fff;
 }

 /* Stile per le voci di elenco (lavoro, formazione, competenze) */
 #cv p strong {
  font-weight: bold;
  color: #fff;
 }

/* Stile di base per il footer */
 footer {
  background-color: #333(170, 31, 31);
  color: #fff;
  padding: 11px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;   
 }

 /* Stile per ciascuna icona sociale */
 .social-icons a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
 }

 /* Stile per il testo del copyright */
 #MK {
  font-size: 14px;
 }

 /* Stile per le immagini delle icone sociali */
 .social-icons img {
   width: 40px;
   height: 40px;
   object-fit: cover;
   border-radius: 50%;
 }

 @media only screen and (min-width: 769px) and (max-width: 1025px){
  
 }
 