body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #181818; 
  position: absolute;
  max-width: 100%;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer/Edge */
}

body::-webkit-scrollbar {
  display: none;
}
  /* Hide scrollbar for Chrome e Safari */

a{
  color: grey;
}

 /* Style the header */
.header {
  background-color: #212121;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0, .1);
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header ul{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #212121;
}

.header ul a {
  display: block;
  padding: 20px;
  text-decoration: none;
}

.header ul a:hover{
  background-color: #181818;
}

.header .logo{
  float: left;
  font-size: 25px;
  padding: 10px 20px;
}

.header .menu{
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.header .menu-icon{
  padding: 28px 20px;
  position: relative;
  float: right;
  cursor: pointer;
}

.header .menu-icon .nav-icon{
  background-color: gray;
  display: block;
  width: 18px;
  height: 2px;
  position: relative;
  transition: background-color .2s ease-out;
}

.header .menu-icon .nav-icon::before,
.header .menu-icon .nav-icon::after{
  background-color: gray;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transition: all .2s ease-out;
  position: absolute;
}

.header .menu-icon .nav-icon::before{
  top: 5px;
}
.header .menu-icon .nav-icon::after{
  top: -5px;
}

.header .menu-btn{
  display: none; 
}

.header .menu-btn:checked ~ .menu{
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon{
  background-color: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::before{
  transform: rotate(-45deg);
  top: 0;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon::after{
  transform: rotate(45deg);
  top: 0;
}

@media (min-width: 48em) {
  .header li{
      float: left;
  }

  .header li a{
      padding: 20px 30px;
  }

  .header .menu{
      clear: none;
      float: right;
      max-height: 240px;
  }

  .header .menu-icon{
      display: none;
  }

}
 /* Contancts style */
#contancts {
  max-width: 600px;
  margin-right: -900%;
  margin-left: 170%;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 30px;
  box-shadow: 0 0 10px gray;
  position: relative;
  top: 140px;
}

h2 {
  color: #ffffff;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-weight: bold;
  color: #ffffff;
}

input,textarea {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
 /* Style the footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 117%;
  margin-right: -413%;
  margin-left: 0%;
  margin-bottom: -1%;
}

.social-icons a {
  text-decoration: none;
  color: #fff;
  margin-right: 10px;

}

/* Style for each social icon */
.social-icons a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}


/* Style for copyright text */
#MK {
  font-size: 14px;
}

/* Style for social icon images */
.social-icons img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

@media (max-width: 768px){
  body{
       max-width: 50%
  }
  #contancts{
       max-width: 80%;
       margin-left: 50%;
       margin-right: -55%;
  }
  footer{
       margin-right: -100%;
       margin-top: 210%;
  }
}